header
{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px;
}

.logo-white
{
    display:none;
}

.background-white
{
    display:none;
}


/*Aqui serve para fazer a troca de label entre imagem cor branca e imagem de cor escura*/

input[type=checkbox]:checked ~ header .logo-white
{
    display:block;
}

input[type=checkbox]:checked ~ header .logo-black
{
    display:none;
}

input[type=checkbox]:checked ~ header .background-black
{
    display:none;
}

input[type=checkbox]:checked ~ header .background-white
{
    display:block;
}


/*Termina*/

label
{
    cursor:pointer;
}

@media screen and (min-width:768px)
{
    header
    {
        padding: 0 60px;
    }
}

@media screen and (min-width:1536px)
{
    header
    {
        padding:0 120px;
    }
}