@font-face
{
    font-family:Unbounded;
    src:url("../fonts/Unbounded-Bold.ttf") format("TrueType");
    font-weight: 700;
    font-style:normal;
    font-display:swap;
}

@font-face
{
    font-family:Poppins;
    src:url("../fonts/Poppins-Regular.ttf") format("TrueType");
    font-weight: 400;
    font-style:normal;
    font-display:swap;
}

/*Reset CSS*/
*
{
    margin:0;
    padding:0;
}

/*Serve para formatacao e cor*/

body
{
    background-color: #0e1014;
    color:#ffffff;
}

h1
{
    font-size:64px;
    font-family:"Unbounded",sans-serif;
    text-align: center;
}

span
{
    color:#9747ff;
}

p
{
    font-size:24px;
    font-family:"Poppins",sans-serif;
    text-align: center;
}

a
{
    text-decoration:none;
    color:#ffffff;
    background-color: #9747ff;
    font-family:"Poppins",sans-serif;
}

a:hover
{
    background-color: #8233e8;
}

section img
{
    margin: 0 auto;
    display:block;
}